<head>
	<%= stylesheet_link_tag "index", :media => "all" %>
</head>



<div id='content'><input type='hidden' id='pubKey' value='' />
    <div class='login_wrap container'>
 	    <div class='row'>
	    
	    	<div class='col-md-6'>
	    		<div class ="welcome">
					<p>똑똑하게 머리하세요! <br>싸면서도 멋지게. <br>두마리 토끼를 모두 잡으세요.</p>
	    		</div>
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			        <div class="col-md-12">
		    			<div class='id_wrap'><%= f.email_field :email, autofocus: true, type:'text', id:'mb_id', class:'form-control', placeholder:'포털아이디', onkeydown:'if (event.keyCode==13) do_login();' %></div>
		    		</div>
			        <div class="col-md-12">
			        	<div class='pw_wrap'><%= f.password_field :password, autocomplete: "off", type:'password', id:'mb_pw', class:'form-control', placeholder:'비밀번호', onkeydown:'if (event.keyCode==13) do_login();' %></div>
		    		</div>
			        <div class="col-md-6">
			        	<%= f.submit '로그인', class:"btn btn-success", style:"width:100%; margin-top:10px;" %>
			        </div>
			        <div class="col-md-6">
			        	<%= link_to "페이스북 로그인", user_omniauth_authorize_path(:facebook), class:"btn btn-primary", style:"width:100%; margin-top:10px;" %>
			        </div>
			        <div class="col-md-12" style="text-align:center;">	        
			    		<a href="/home/register">회원가입</a>
			    		<a>비밀번호 찾기</a>
			        </div>
				<% end %>
			</div>
		</div>
	</div>
    <div class='tail_wrap'>klue.kr2@gmail.com | Copyright &copy; 2015 <a href='http://kweb.korea.ac.kr/' target='_blank' class='orange'>KLUE</a> All rights reserved.</div>
    </div>
    <div id="findPwPopup">
    	<div class="inner">
    		<div class="title">비밀번호 찾기</div>
    		<div class="row">
    			<div class="left">아이디</div>
    			<div class="right"><input type='text' name='mb_id' placeholder='@korea.ac.kr은 제외하고 입력해주세요.' onkeydown='if (event.keyCode==13) findPw_submitOk();' /></div>
    		</div>
    		<div class="row">
    			<div class="left">학번</div>
    			<div class="right"><input type='text' name='mb_stNum' placeholder='학번을 입력해주세요.' onkeydown='if (event.keyCode==13) findPw_submitOk();' /></div>
    		</div>
    		<div class="row">
    			<div class="left">이름</div>
    			<div class="right"><input type='text' name='mb_name' placeholder='가입시 작성한 이름을 입력해주세요.' onkeydown='if (event.keyCode==13) findPw_submitOk();' /></div>
    		</div>
    		<div class="btnWrap">
    			<button type='button' class='findPw' onclick='findPw_submitOk();'>비밀번호찾기</button>
    			<button type='button' class='cancel' onclick='findPw_close();'>취소</button>
    		</div>
    	</div>
    </div>
</div>
