<head>
	<%= stylesheet_link_tag "main", :media => "all" %>
</head>

<%= render :partial => "home/navbar" %>   
<div class="jumbotron">
	<h1 style="margin:50px 0px;">Riah에서 미용실을 평가하세요</h1>
	<p>평가 하라고요</p>
</div>

<div class="container" id='content' >
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="mainContent">
				<div class="welcome_wrap main_box">
					<div class="title">
						<span>공지사항</span>
					</div>
					<div class="content">
						<strong>1차로 안암동 주변 미용실을 먼저 합니다</strong><br />
					</div>
				</div>
				<digit v class='recent_wrap'>
					<div class='title'>
						<span>베스트 평가</span>
					</div>
					<div class='lectureEvalList'>
						<%= render :partial => "home/evallist" %>   
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<%= render :partial => "home/sidebar1" %>   
			</div>
		</div>
	</div>
</div>
<%= render :partial => "home/tail" %>   
