<head>
	<%= stylesheet_link_tag "main", :media => "all" %>
</head>

<%= render :partial => "home/navbar" %>   
<%= render :partial => "home/tail" %>   
<%= render :partial => "home/sidebar1" %>   

<div id='content'>
	<div class="mainContent">
		<div class="welcome_wrap box">
			<div class="title"><span>공지사항</span></div>
			<div class="content">
				<strong>열람권한 초기화 및 2015년 1학기 강의평가 안내</strong><br /><br />
		
				안녕하세요 KLUE운영자 입니다. 이번학기 잘 마무리하셨나요?<br /><br />
				
				6월 24일 수요일 부로 열람권한 초기화 및 2015년 1학기 강의평가가 가능해졌습니다.<br /><br />
		
				리뉴얼하면서 약간 바뀐 부분이 있는데, 이전에는 강의평가를 무조건 3개 해야만 열람권한을 얻을 수 있었지만 이제는 지난학기에 모아두었던 포인트의 50%를 다음학기로 이월할 수 있도록 하였습니다.<br /><br />
				
				또한 이제부터 15학번 새내기들도 KLUE를 이용하실 수 있으니 주변에 널리 알려주시고 알찬 강의평가 해주시길 부탁드릴게요~<br /><br />
		
				<strong>KLUE운영자 드림</strong>
			</div>
		</div>
		<div class='recent_wrap'>
			<input type='hidden' id='lectureEvalData' value='[{&quot;no&quot;:&quot;263340&quot;,&quot;lec_no&quot;:&quot;2463&quot;,&quot;mb_no&quot;:&quot;6825&quot;,&quot;mb_nick&quot;:&quot;\uc774\ud0dc\uc6d0\ud504\ub9ac\ub364&quot;,&quot;mb_stNum&quot;:&quot;200917&quot;,&quot;eval_total&quot;:&quot;3&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;3&quot;,&quot;eval_grade&quot;:&quot;3&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\ucda9\uaca9\uc801\uc774\ub124\uc694..........2009\ub144\uc5d0 \uc778\uc0c1\uae4a\uac8c \ub4e4\uc5c8\ub358 \uac15\uc758\uc600\ub294\ub370, \uc774\ub54c \uc774\ud6c4\ub85c \uac15\uc758\uac00 \uc5f4\ub9ac\uc9c0 \uc54a\uc558\ub124\uc694 \u3137\u3137\u3137&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 16:06:06&quot;,&quot;mod_time&quot;:&quot;2015-09-12 16:06:06&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uacf5\ud559\ub3c4\ub97c\uc704\ud55c\ub9c8\ucf00\ud305&quot;,&quot;lec_profName&quot;:&quot;\uae40\ud0dc\ub8e1&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263339&quot;,&quot;lec_no&quot;:&quot;35817&quot;,&quot;mb_no&quot;:&quot;27418&quot;,&quot;mb_nick&quot;:&quot;dbswoguswls&quot;,&quot;mb_stNum&quot;:&quot;201414&quot;,&quot;eval_total&quot;:&quot;5&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;5&quot;,&quot;eval_attendance&quot;:&quot;1&quot;,&quot;eval_grade&quot;:&quot;4&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\ud658\uacbd\uacfc\ud559\uc740 \uc544\uc8fc \uae30\ubcf8\uc801\uc778 \uacfc\ud559 \uc9c0\uc2dd \uc788\uc73c\uba74 \ud06c\uac8c \uc5b4\ub824\uc6c0\uc740 \uc5c6\ub294 \uc218\uc5c5\uc785\ub2c8\ub2e4.\r\n\ub2e4\ub9cc, \uacfc\uc81c\ub791 \ud034\uc988\uac00 \uc880 \ub9ce\uc544\uc11c (\ub9ce\uc774\ub9ce\uc774) \uadc0\ucc2e\uc744 \uc218\uac00 \uc788\uc2b5\ub2c8\ub2e4.\r\n\uc911\uac04, \uae30\ub9d0\uc740 \uc624\ud508\ubd81\uc73c\ub85c \uce58\ub904\uc9c0\uba70 \ud559\uc810 \uc798 \uc8fc\uc2ed\ub2c8\ub2e4.&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 15:07:53&quot;,&quot;mod_time&quot;:&quot;2015-09-12 16:30:38&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\ud658\uacbd\uacfc\ud559(\uc601\uac15)&quot;,&quot;lec_profName&quot;:&quot;\uad8c\uc815\ud658&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263338&quot;,&quot;lec_no&quot;:&quot;37310&quot;,&quot;mb_no&quot;:&quot;3076&quot;,&quot;mb_nick&quot;:&quot;\ubbff\uac70\ub098\ub9d0\uac70\ub098&quot;,&quot;mb_stNum&quot;:&quot;200916&quot;,&quot;eval_total&quot;:&quot;3&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;3&quot;,&quot;eval_grade&quot;:&quot;3&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\ub300\ud615\uac15\uc758\ub77c\uc11c \ud798\ub4e4\uc5c8\ub2e4.\r\n\ud310\uc11c\uac00 \uc911\uc694\ud558\ub2e4\uace0 \ud558\uc168\ub2e4.\r\n\uad50\uc218\ub2d8\uc774 \ub9e4\uc6b0 \uc0c1\ub0e5\ud558\uc2dc\ub2e4.\r\n\ub2e4\uc591\ud55c \ucf58\ud150\uce20\ub97c \uc0ac\uc6a9\ud558\uc2e0\ub2e4.&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:34:17&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:34:17&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uacbd\uc81c\uc6d0\ub860I(\uc601\uac15)&quot;,&quot;lec_profName&quot;:&quot;\uae40\uc11d\ud638&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263337&quot;,&quot;lec_no&quot;:&quot;37482&quot;,&quot;mb_no&quot;:&quot;3076&quot;,&quot;mb_nick&quot;:&quot;\ubbff\uac70\ub098\ub9d0\uac70\ub098&quot;,&quot;mb_stNum&quot;:&quot;200916&quot;,&quot;eval_total&quot;:&quot;3&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;5&quot;,&quot;eval_grade&quot;:&quot;3&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\uadf8\ub0e5 \ubbf8\uc801\uc740 \ub2e4 \ub611\uac19\uc73c\ub2c8\uae4c\r\n\uc2dc\ud5d8\uc774 \uc911\uc694\ud55c\uac70 \uac19\ub2e4.\r\n\ub098\uc058\uc9c0 \uc54a\uc740 \uac15\uc758\ub825\uc774\uc2dc\ub2e4.\r\n\ubcf8\uc778 \ub178\ub825\uc774 \uc911\uc694&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:33:26&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:33:26&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\ubbf8\uc801\ubd84\ud559\ubc0f\uc5f0\uc2b5I&quot;,&quot;lec_profName&quot;:&quot;\uc7a5\uc815\ud658&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263336&quot;,&quot;lec_no&quot;:&quot;38975&quot;,&quot;mb_no&quot;:&quot;3076&quot;,&quot;mb_nick&quot;:&quot;\ubbff\uac70\ub098\ub9d0\uac70\ub098&quot;,&quot;mb_stNum&quot;:&quot;200916&quot;,&quot;eval_total&quot;:&quot;4&quot;,&quot;eval_difficulty&quot;:&quot;1&quot;,&quot;eval_studyTime&quot;:&quot;1&quot;,&quot;eval_attendance&quot;:&quot;2&quot;,&quot;eval_grade&quot;:&quot;5&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\uae4a\uac8c \ub4e4\uc5b4\uac00\uc9c0 \uc54a\uc558\ub2e4.\r\n\uad50\uc218\ub2d8\uc774 \ub9e4\uc6b0 \uc0c1\ub0e5\ud558\uc168\ub2e4.\r\n\r\n\ub2e4\uc2dc \uc5f4\ub9b4 \uc77c\uc740 \uc5c6\uaca0\uc9c0\ub9cc \uc798 \ub4e4\uc740\ub4ef..&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:31:36&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:31:36&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;TOPIC COURSE(\uc601\uac15)&quot;,&quot;lec_profName&quot;:&quot;\uae40\uc9c0\uc5f0&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263335&quot;,&quot;lec_no&quot;:&quot;33891&quot;,&quot;mb_no&quot;:&quot;24830&quot;,&quot;mb_nick&quot;:&quot;\uc544\uc544\uc54d&quot;,&quot;mb_stNum&quot;:&quot;200717&quot;,&quot;eval_total&quot;:&quot;4&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;5&quot;,&quot;eval_grade&quot;:&quot;3&quot;,&quot;eval_achievement&quot;:&quot;3&quot;,&quot;eval_content&quot;:&quot;\ub9e4\uc77c \ucd9c\uccb5\ud558\uad6c\uc694 \ub450\uc138\ubc88\uc740 \ube60\uc838\ub3c4 \uad1c\ucc2e\uc740\uac83 \uac19\uc544\uc694\r\n\r\n\uc131\uc2e0\uc5ec\ub300 \ubcfc\ub9c1\uc7a5\uc5d0\uc11c \uadf8\ub0e5 \ubcfc\ub9c1 \uc7ac\ubc0c\uac8c \uce58\uc2dc\uba74 \ub429\ub2c8\ub2f9&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:24:54&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:24:54&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\ubcfc\ub9c1&quot;,&quot;lec_profName&quot;:&quot;\uc774\uc2b9\uaddc&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263334&quot;,&quot;lec_no&quot;:&quot;36093&quot;,&quot;mb_no&quot;:&quot;24830&quot;,&quot;mb_nick&quot;:&quot;\uc544\uc544\uc54d&quot;,&quot;mb_stNum&quot;:&quot;200717&quot;,&quot;eval_total&quot;:&quot;4&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;5&quot;,&quot;eval_grade&quot;:&quot;3&quot;,&quot;eval_achievement&quot;:&quot;2&quot;,&quot;eval_content&quot;:&quot;\uc804\uc790\ud68c\ub85c\uc2e4\ud5d8\uc740 \uc544\uc2dc\ub2e4\uc2dc\ud53c \uc2e4\ud5d8\ubcf4\ub2e4\ub294 \uc911\uac04, \uae30\ub9d0\uc774 \uc911\uc694\ud55c\uac83 \uac19\uc544\uc694\r\n\ub9e4\uc8fc \ud034\uc988 \ud55c\ubc88\uc529 \uc788\uad6c\uc694 \uc608\ube44\ubcf4\uace0\uc11c\ub9cc \uc4f0\uc2dc\uba74 \ud478\uc2e4 \uc218 \uc788\uc744\uac70\uc5d0\uc694&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:22:07&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:22:07&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uc804\uc790\ud68c\ub85c\uc124\uacc4\ubc0f\uc2e4\ud5d8I&quot;,&quot;lec_profName&quot;:&quot;\uc774\uc7ac\uc131&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263333&quot;,&quot;lec_no&quot;:&quot;37611&quot;,&quot;mb_no&quot;:&quot;24830&quot;,&quot;mb_nick&quot;:&quot;\uc544\uc544\uc54d&quot;,&quot;mb_stNum&quot;:&quot;200717&quot;,&quot;eval_total&quot;:&quot;5&quot;,&quot;eval_difficulty&quot;:&quot;1&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;5&quot;,&quot;eval_grade&quot;:&quot;5&quot;,&quot;eval_achievement&quot;:&quot;4&quot;,&quot;eval_content&quot;:&quot;\uace8\ud504 \ucc98\uc74c \ubc30\uc6cc\ubd24\ub294\ub370\uc694\r\n\ucd9c\uccb5\uc740 \ud56d\uc0c1 \ud558\uc2dc\uad6c\uc694 \uc804 \ub450\ubc88\uc815\ub3c4 \ube60\uc9c4\ub4ef \ud558\ub124\uc694\r\n\uc798 \uac00\ub974\uce58\uc2dc\ub294\ub4ef \ud569\ub2c8\ub2e4. \uc2e4\ub825\uc774 \uaf64 \ub298\uc5c8\uc5b4\uc694&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 10:18:40&quot;,&quot;mod_time&quot;:&quot;2015-09-12 10:18:40&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uace8\ud504&quot;,&quot;lec_profName&quot;:&quot;\ucd5c\uc131\uc6b1&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263332&quot;,&quot;lec_no&quot;:&quot;35403&quot;,&quot;mb_no&quot;:&quot;2523&quot;,&quot;mb_nick&quot;:&quot;\uba38\uc5bc\ub77c&quot;,&quot;mb_stNum&quot;:&quot;201012&quot;,&quot;eval_total&quot;:&quot;3&quot;,&quot;eval_difficulty&quot;:&quot;3&quot;,&quot;eval_studyTime&quot;:&quot;3&quot;,&quot;eval_attendance&quot;:&quot;3&quot;,&quot;eval_grade&quot;:&quot;4&quot;,&quot;eval_achievement&quot;:&quot;4&quot;,&quot;eval_content&quot;:&quot;\ub9c8\uc9c0\ub9c9 \ud559\uae30 \ub0a8\uaca8\ub450\uc2e0\ubd84\ud55c\ud14c \uac15\ucd94\ud558\ub294 \uac15\uc758\uc785\ub2c8\ub2e4. \uad50\uc218\ub2d8\uc774 \uc6cc\ub099 \uc88b\uc73c\uc154\uc11c \ud3b8\uc758 \uac19\uc740\uac70 \uc798 \uace0\ub824 \ud574\uc8fc\uc2dc\ub2c8 \uc878\uc5c5\uc0dd\uc774\ub098 \ucde8\uc900\uc0dd\ub4e4\ud55c\ud14c \uac15\ucd94\ud569\ub2c8\ub2e4.&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 01:24:31&quot;,&quot;mod_time&quot;:&quot;2015-09-12 01:24:31&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uad6d\uc81c\uacbd\uc601\ub860(\uc601\uac15)&quot;,&quot;lec_profName&quot;:&quot;\uae40\uc21c\uc131&quot;,&quot;isLiked&quot;:false},{&quot;no&quot;:&quot;263331&quot;,&quot;lec_no&quot;:&quot;35450&quot;,&quot;mb_no&quot;:&quot;2523&quot;,&quot;mb_nick&quot;:&quot;\uba38\uc5bc\ub77c&quot;,&quot;mb_stNum&quot;:&quot;201012&quot;,&quot;eval_total&quot;:&quot;4&quot;,&quot;eval_difficulty&quot;:&quot;4&quot;,&quot;eval_studyTime&quot;:&quot;4&quot;,&quot;eval_attendance&quot;:&quot;4&quot;,&quot;eval_grade&quot;:&quot;4&quot;,&quot;eval_achievement&quot;:&quot;4&quot;,&quot;eval_content&quot;:&quot;\uad49\uc7a5\ud788 \uc2ec\ub3c4 \uc788\ub294 \uac15\uc758\ub97c \ud558\uc2ed\ub2c8\ub2e4. \ub108\ubb34\ub098\ub3c4 \uc88b\uc558\uad6c\uc694 \uc878\uc5c5\uc804 \ubc18\ub4dc\uc2dc \ub4e4\uc73c\uc154\uc57c \ud560 \uc218\uc5c5\uc774\ub77c\uace0 \uc0dd\uac01\ud569\ub2c8\ub2e4. \ud559\uc810\ub3c4 \uaf64\ub098 \uc798\uc8fc\uc2dc\ub824\uace0 \ub178\ub825\ud558\uace0 \uc804\ubc18\uc801\uc73c\ub85c \ub108\ubb34 \uc88b\uc2b5\ub2c8\ub2e4&quot;,&quot;eval_like&quot;:&quot;0&quot;,&quot;eval_comment&quot;:&quot;0&quot;,&quot;eval_hide&quot;:&quot;0&quot;,&quot;wr_term&quot;:&quot;2015-1R&quot;,&quot;wr_time&quot;:&quot;2015-09-12 01:23:38&quot;,&quot;mod_time&quot;:&quot;2015-09-12 01:23:38&quot;,&quot;eval_1&quot;:&quot;&quot;,&quot;eval_2&quot;:&quot;&quot;,&quot;eval_3&quot;:&quot;&quot;,&quot;eval_4&quot;:&quot;&quot;,&quot;eval_5&quot;:&quot;&quot;,&quot;lec_name&quot;:&quot;\uae30\uc5c5\uc9c0\ubc30\uad6c\uc870\uc758\uc774\ub860\uacfc\uc2e4\uc81c(\uc601\uac15)&quot;,&quot;lec_profName&quot;:&quot;\uae40\uc6b0\ucc2c&quot;,&quot;isLiked&quot;:false}]' />
			<div class='title'><span>최근 강의평</span></div>
		<!------쇼핑몰리스트------->	
			<div class='lectureEvalList'>
				<% @evaluation.each do |e|%>
				<div class="e" id="lecEval_263352">				
					<div class="title">
						<a href="/home/hairshop/<%=e.hairshop_id%>" class="lec_name"><%=e.hairshop.name%></a>
						<span class="lec_profName"><%=e.hairshop.address%></span>
					</div>				
					<div class="content">					
						<div class="right">						
							<div class="e total">
		    					<div class="left">총평</div>
		    					<div class="center">    		  
		    					    <span class="star-rating small">
		                		        <% 1.upto(5) do |i|%>	
		                		        	<%if i==e.rating_a%>
		                		        	<i class="on"></i>
		                		        	<%else%>
		                		        	<i></i>
		                		        	<%end%>
		                		        <%end%>
		            		        </span>
		    		            </div>
		    				</div>						
							<div class="e difficulty">
							    <div class="left">서비스</div>
						        <div class="center">
		        		        <% 1.upto(5) do |i|%>	
		        		        	<%if i==e.rating_b%>
		        		        	<span class="active"></span>
		        		        	<%else%>
		        		        	<span></span>
		        		        	<%end%>
		        		        <%end%>
						        </div>
						    </div>						
							<div class="e studyTime">
							    <div class="left">가격대</div>
						        <div class="center">
		        		        <% 1.upto(5) do |i|%>	
		        		        	<%if i==e.rating_c%>
		        		        	<span class="active"></span>
		        		        	<%else%>
		        		        	<span></span>
		        		        	<%end%>
		        		        <%end%>
						        </div>
							</div>						
							<div class="e attendance">					    
							    <div class="left">커트</div>
						        <div class="center">
		        		        <% 1.upto(5) do |i|%>	
		        		        	<%if i==e.rating_d%>
		        		        	<span class="active"></span>
		        		        	<%else%>
		        		        	<span></span>
		        		        	<%end%>
		        		        <%end%>
						        </div>
		                    </div>						
							<div class="e grade">
							    <div class="left">파마</div>
						        <div class="center">
		        		        <% 1.upto(5) do |i|%>	
		        		        	<%if i==e.rating_e%>
		        		        	<span class="active"></span>
		        		        	<%else%>
		        		        	<span></span>
		        		        	<%end%>
		        		        <%end%>
						        </div>
							</div>						
							<div class="e achievement">
						        <div class="left">염색</div>
						        <div class="center">
		        		        <% 1.upto(5) do |i|%>	
		        		        	<%if i==e.rating_f%>
		        		        	<span class="active"></span>
		        		        	<%else%>
		        		        	<span></span>
		        		        	<%end%>
		        		        <%end%>
						        </div>
							</div>					
						</div>					
					
						<div class="left">						
							<div class="wrInfo"><a href="./myLectureEval.php?mbNo=10600" class="bold"><%=e.user.name%></a> 님의 의
							</div>						
							<div class="wrInfoSub" title="2015-09-15 14:51:23">(201219****) | 4시간 전</div>						
							<div class="wrContent">
								<%=e.content%>
							</div>					
						</div>			
					</div>				
					<div class="tail">					
						<div class="btnWrap">
							<span class="like" likecnt="0" onclick="lectureEvalList_like(263352)">0 좋아요</span>
							<span class="comment" onclick="lectureEvalList_getEvalCommentList(263352);">0 댓글</span>
							<span class="etc" onclick="location.href=yh_path+'/report.php?evalNo=263352'">신고</span></div>					
						<div class="commentList hide">
						</div>					
						<div class="commentInput hide">						
							<div class="right">
								<button type="button" onclick="lectureEvalList_writeEvalComment(263352)">입력</button>
							</div>						
							<div class="left">
								<input type="text" name="wr_content" onkeydown="if (event.keyCode==13) lectureEvalList_writeEvalComment(263352);" placeholder="댓글을 입력해주세요.">
							</div>
						</div>
					</div>			
				</div>
				<% end %>
			</div>
		</div>
	</div><!-- main닫기 -->
</div>

