<head>
	<%= stylesheet_link_tag "register", :media => "all" %>
</head>

<%= render :partial => "home/navbar" %>   

<div class="container" id='content' >
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="mainContent">
				<div class='lectureEvalListTitle'>황학님이 평가한 강의</div>
				<div class='lectureEvalList'>
					<% @my_evaluation.each do |e|%>
					<div class="e" id="lecEval_263352">				
						<div class="title">
							<a href="/home/hairshop/<%=e.hairshop_id%>" class="lec_name"><%=e.hairshop.name%></a>
							<span class="lec_profName"><%=e.hairshop.address%></span>
						</div>				
						<div class="content">					
							<div class="right">						
								<div class="e total">
			    					<div class="left">총평</div>
			    					<div class="center">    		  
	                		        <% 1.upto(5) do |i|%>
	                		        	<%if i==e.rating_a%>
				                        <span></span>
	                		        	<%else%>
				                        <span class="active"></span>
	                		        	<%end%>
	                		        <%end%>
			    		            </div>
			    				</div>						
								<div class="e difficulty">
								    <div class="left">서비스</div>
							        <div class="center">
			        		        <% for i in(1..5)%>
						                        <%if i <= e.rating_b %>
						                        <span class="active"></span>
						                        <%else%>
						                        <span></span>
						                        <%end%>
						            <%end%>
			        		        
							        </div>
							    </div>						
								<div class="e studyTime">
								    <div class="left">가격대</div>
							        <div class="center">
			        		        <% for i in(1..5)%>
						                        <%if i <= e.rating_c %>
						                        <span class="active"></span>
						                        <%else%>
						                        <span></span>
						                        <%end%>
						              <%end%>
							        </div>
								</div>						
								<div class="e attendance">					    
								    <div class="left">커트</div>
							        <div class="center">
			        		        <% for i in(1..5)%>
						                        <%if i <= e.rating_d %>
						                        <span class="active"></span>
						                        <%else%>
						                        <span></span>
						                        <%end%>
						              <%end%>
							        </div>
			                    </div>						
								<div class="e grade">
								    <div class="left">파마</div>
							        <div class="center">
			        		        <% for i in(1..5)%>
						                        <%if i <= e.rating_e %>
						                        <span class="active"></span>
						                        <%else%>
						                        <span></span>
						                        <%end%>
						              <%end%>
							        </div>
								</div>						
								<div class="e achievement">
							        <div class="left">염색</div>
							        <div class="center">
			        		        <% for i in(1..5)%>
						                        <%if i <= e.rating_f %>
						                        <span class="active"></span>
						                        <%else%>
						                        <span></span>
						                        <%end%>
						              <%end%>
							        </div>
								</div>					
							</div>					
						
							<div class="left">						
								<div class="wrInfo"><a href="./myLectureEval.php?mbNo=10600" class="bold"><%=e.user.name%></a> 님의 의
								</div>						
								<div class="wrInfoSub" title="2015-09-15 14:51:23">(201219****) | 4시간 전</div>						
								<div class="wrContent">
									<%=e.content%>
								</div>					
							</div>			
						</div>				
						<div class="tail">					
							<div class="btnWrap">
								<span class="like" likecnt="0" onclick="lectureEvalList_like(263352)">0 좋아요</span>
								<span class="comment" onclick="lectureEvalList_getEvalCommentList(263352);">0 댓글</span>
								<span class="etc" onclick="location.href=yh_path+'/report.php?evalNo=263352'">신고</span></div>					
							<div class="commentList hide">
							</div>					
							<div class="commentInput hide">						
								<div class="right">
									<button type="button" onclick="lectureEvalList_writeEvalComment(263352)">입력</button>
								</div>						
								<div class="left">
									<input type="text" name="wr_content" onkeydown="if (event.keyCode==13) lectureEvalList_writeEvalComment(263352);" placeholder="댓글을 입력해주세요.">
								</div>
							</div>
						</div>			
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		<%= render :partial => "home/sidebar1" %>     
		</div>
	</div>
</div>
<%= render :partial => "home/tail" %>   
